@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html, body{
    height:100%;
    width:100%;
    margin:0px;
}
.main{
    height:100%;
    width:100%;
    background-color:#2b2b2b;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Pacifico', cursive;
    font-size:2.5vmin;
}
.menu{
    height:40%;
    width:45%;
    background-color:#3b3b3b;
    color:white;
    border-radius:5vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.englishWord{
    display:flex;
    justify-content:center;
    align-items:center;
}
.words{
    height:15%;
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.progressBarCustom{
    height:5%;
    width:50%;
    margin:2% 0% 1% 0%;
}
.answer{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:1%;
    width:25%;
}
.answer input{
    font-size:2.5vmin;
}
.trueAndFalse{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    align-items:center;
    margin:1%;
}
.btnCustom{
    width:25%;
    font-size:2.2vmin;
}
.customModal{
    background-color:#3b3b3b;
}
@media (570px < height < 800px) {
    .menu{
        height:60%;
        font-size:2.9vmin;
    }
    .btnCustom{
        font-size:2.9vmin;
    }
    .answer input{
        font-size:2.9vmin;
    }
}
@media (370px <= height <= 570px) {
    .menu{
        height:80%;
        font-size:4vmin;
    }
    .btnCustom{
        font-size:4vmin;
    }
    .answer input{
        font-size:4vmin;
    }
}
@media (100px <= height <= 370px) {
    .menu{
        height:90%;
        font-size:4.8vmin;
    }
    .btnCustom{
        font-size:4.8vmin;
    }
    .answer input{
        font-size:4.8vmin;
    }
}
@media (450px <= width <= 1000px) {
    .menu{
        height:70%;
        width:90%;
        font-size:4vmin;
    }
    .btnCustom{
        font-size:4vmin;
    }
    .answer input{
        font-size:4vmin;
    }
}
@media (50px <= width <= 450px) {
    .menu{
        height:45%;
        width:90%;
        font-size:6vmin;
    }
    .btnCustom{
        font-size:4vmin;
    }
    .answer input{
        font-size:6vmin;
    }
}